/* responsive */
@media all and (max-width: 1140px){
	.container{width: 95% !important;}
}

@media all and (max-width: 1000px) {
	.bag-into span:nth-child(2) {display: none !important;}
	.bag-into {width: 50px !important}
	.item {padding: 0px 15px !important; }
	.detail {width: 30% !important; margin-right: 1.6% !important;margin-left: 1.6% !important;}
	.products .container {justify-content: flex-start !important;}
	.products {justify-content: flex-start !important;}
	.footer-banner .container .owl-stage .owl-item li {
		justify-content: center !important;
	}
}


@media all and (max-width: 800px){
	.header-menu, .account, .logo {display: none !important;}
	.header-main {margin-bottom: 20px !important;}
	.function {width: 100% !important; margin-top: 0px !important;}
	.search {width: 80% !important;}
	.bars {display: block !important;}
	.menu-responsive {display: block !important;}
	#cart table input {width: 55px !important;}

	.main > .container {flex-direction: column;}
	.category { display: none !important; }
	.category_responsive { display: block !important; width: 100%;}
	.show_product {width: 100% !important ;}
	.related_news, .show_news {width: 100% !important;}
	.show_news h1 {font-size: 23px;}
	.product_top .product_img .small_img img:last-child {display: none !important;}
	.small_img {text-align: center;}

	.footer-menu .container ul:nth-child(2) {
		display: none;
	}

	.contact ul li {width: 30% !important}
}


@media all and (max-width: 600px) {
	.bag-into {width: 55% !important}
	.detail {width: 47% !important; margin-right: 0% !important;}
	.products .container {justify-content: space-between !important;}
	.products {justify-content: space-between !important;}
	.products-background img { height: 150px !important; }
	.new-products .title-top, .know-how .title-top { font-size: 20px !important; }
	.new-products .title-select a {font-size: 14px !important;}
	.related_news:nth-child(2) > .type_news span {font-size: 25px !important;}
	.show_hot_news a img {height: 150px !important;}

	.footer {margin-top: 20px !important;}
	.footer-menu {padding-top: 10px !important;  !important;}
	.footer-menu .container ul{display: none !important;}
	.footer-menu .container .sidenav-footer{display: block !important;}
	.product_top .product_title h1 {font-size: 150% !important;}

	#purchased, #cart {overflow-x: scroll;}
	#cart table, #purchased table {width: 600px !important;}
	.itd-description {padding: 10px !important;}
	#cart table input {width: 35px !important;}
	.function-cart {flex-direction: column;}
	.function-cart div:last-child {order: 1 !important;}
	.function-cart div:first-child {order: 2 !important; margin-bottom: 20px !important;}

	.product_top {flex-direction: column;}
	.product_top > h2 {display: block !important;}
	.product_top .product_img , .product_top .product_title {width: 100% !important;}
	.product_top .product_title {margin-left: 0px !important;}
	.small_img, .product_top .product_title h1 {display: none;}
	.product_top .product_img #img {height: 250px !important; margin-bottom: 0px !important;}
	.product_top .product_title form {height: 230px !important;}

	.introduct ul, .contact ul {flex-direction: column;}
	.introduct ul li, .contact ul li {width: 100%; margin-bottom: 20px;}
	.introduct ul li {height: 250px;}  .contact ul li {height: 150px;}
	.introduct ul li img, .contact ul li img {height: 150px;}
	.no-product {font-size: 20px !important;}
	.contact ul li {width: 90% !important; margin: auto !important; margin-bottom: 30px !important;}
	.contact ul li:last-child {margin-bottom: 0px !important}
}

@media all and (max-width: 450px) {
	.bag-into i {margin-right: 0px !important;}
	.user_responsive {width: 95% !important}

	.product_top .product_title input[type="submit"] {font-size: 18px !important; width: 130px !important;}
	.no-product {font-size: 18px !important;}
	/*.footer-banner {display: none !important;}*/
	.main-images .container {margin-top: 50px !important;}
	.showmore{ margin-top: 20px !important; }
}