@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/Roboto-Regular.ttf');
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.svg');
    src: url('../fonts/Roboto-Regular.woff');
}
@font-face {
    font-family: Roboto-Medium;
    src: url('../fonts/Roboto-Medium.ttf');
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.svg');
    src: url('../fonts/Roboto-Medium.woff');
}
body{
    padding: 0px;
    margin: 0px;
    font-family: Roboto-Regular;
    font-size: 13px;
}
ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

.container{
    width: 1140px;
    margin: auto;
}
.active {
    background-color: #99c95c;
    color: #fff !important;
}
.active-text {color: #99c95c;}

/* header ------------*/
.header-top{
    background-color: #f7f8fa;
    display: flex;
    justify-content: center;
}
.header-top .container ul li{
    display: inline;
    line-height: 30px;
} 
/*-------------------------*/
.header-main{
    display: flex;
    justify-content: center;
}
.header-main .container{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.logo { width: 25%; }
.logo a img {
    width: 60%;
}
.function{
    width: 75%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.search {
    width: 50%;
    position: relative;
}
.search button{
    position: absolute;
    right: 0;
    padding: 5px 5px;
    width: 40px;
    background: #99c95c;
    color: #fff;
    font-size: 13px;
    border: none;
    cursor: pointer;
    height: 34.5px;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    float: right;
}
.search input{
    width: 75%;
    height: 29px;
    border: 2px solid #99c95c;
    padding-left: 20px;
    border-radius: 5px;
    outline: none;
    float: right;
}
.search input:focus,  .bag-into:hover {
    box-shadow: 1px 1px 5px #99c95c;
}
.bag {width: 25%}
.bag-into{
    position: relative;
    width: 50%;
    margin: auto;
    line-height: 18px;
    border: 2px solid #99c95c;
    border-radius: 8px;
    padding: 7px;
    text-align: right;
}
.bag-into i{
    position: absolute;
    left: 5px;
    top: 10px;
}
.bag-into .cart { 
    background-color: yellow; 
    padding: 3px 7px;
    border-radius: 7px;
}
.account-into div:first-child {
    display: flex;
}
.account {width: 25%;}
.account i{
    margin-right: 10px;
    margin-top: 5px;
    font-size: 20px;
}
.account-into:hover i:first-child, .account-into:hover span, .account-into:hover div div div {
    color: #99c95c;
}
.drop{
    background-color: #fff;
    border: 1px solid #99c95c;
    box-shadow: 1px 1px 5px #99c95c;
    border-bottom: none;
    z-index: 1;
}
.drop li{
    line-height: 30px;
    padding: 0px 60px 0px 20px; 
    border-bottom: 1px solid #99c95c;
}
.drop li:hover{
    color: #fff;
    background-color: #99c95c;
}
.account-into > .drop{
    display: none;
    position: absolute;
}
.account-into:hover .drop{
    display: block;
}

.bars {
    display: none;
    font-size: 23px;
    cursor: pointer;
}

/* menu responsive*/
.sidenav {
  width: 75%;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: -75%;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;

}
.dropdown-btn a, .dropdown-container a{
    padding: 15px 8px 15px 32px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    transition: 0.3s;
    text-align: left;
    cursor: pointer;
    outline: none;
    border-top: 1px solid #111;
}
.dropdown-btn:last-child a {border-bottom: 1px solid #111;}
.dropdown-btn a {
    color: #111;
    background-color: #f7f8fa;
}
#down{
    float: right;
    padding-right: 10px;
    font-size: 15px;
}
.dropdown-container {
    display: none;
    background-color: #f7f8fa;
}
.dropdown-container a{
    font-size: 14px;
    color: #111;
}
.dropdown-container a:hover, .dropdown-btn:hover a {
    color: #fff;
    background-color: #99c95c;
}
.dropdown-btn:hover a {color: #fff;}
.opacity-responsive, .opacity {
    width: 100%;
    height: 200%;
    position: absolute;
    background-color: #333;
    opacity: 0.5;
    z-index: 2;
    display: none;
}

.sidenav .closebtn {
    font-size: 20px;
    color: #111;
    position: relative;
}
.sidenav .closebtn i {
    cursor: pointer;
}
.infor {
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
.logo_responsive { text-align: center; }
.logo_responsive img {
    width: 42%;
    padding: 15px;
}
.user_responsive {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    padding-bottom: 15px;
}
.user_responsive a {
    font-size: 17px;
    padding: 10px;
    color: #fff;
    background-color: #99c95c;
    border: 1px solid #a1e054;
}
.user_responsive a:hover {
    box-shadow: 1px 1px 5px #99c95c;
    background-color: #a1e054;
}
.sidenav .closebtn i {
    position: absolute;
    top: 5%;
    right: 5%;
}

/*end menu-responsive*/

.header-menu{
    margin-top: 10px;
    display: flex;
    background-color: #191919;
}
.header-menu .container{
    display: flex;
}
.item{
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.item:hover{
    background-color: #99c95c;
}
.item a:first-child {
    color: #fff;
    font-size: 14px;
    font-family: Roboto-Medium;
    font-weight: 500;
}

.product {
    padding-bottom: 10px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    z-index: 3;
}
.product a, .product a:first-child {
    color: #464141;
    font-weight: normal;
    line-height: 35px;
}
.product a:first-child {
    font-family: Roboto-Regular;
    font-size: 13px;
}

.product a:hover{
    color: #99c95c;
}
.item > .product{
    display: none;
    position: absolute;
}
.item:hover .product{
    display: flex;
}

/*banner----------*/
.banner img{
    width: 100%;
}

/* main----------*/
.main-introduct .container .owl-carousel{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.itd-background{
    position: relative;
    display: flex;
    justify-content: center;
}
.itd-background img {
    width: 100%;
}
.itd-description {
    font-size: 15px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    position: absolute;
    bottom: 20px;
    justify-content: center;
}
.itd-background:hover .itd-description{
    background-color: #221f1f;
    color: #fff;
    opacity: 0.7;
}
.new-products .title, .know-how .title{
    text-align: center;
    margin-top: 30px;
}
.new-products .title-top, .know-how .title-top{
    font-size: 28px;
    font-family: Roboto-Medium;
    font-weight: 500;
}
.new-products .title-bottom, .know-how .title-bottom{
    font-size: 18px;
}
.new-products .title-select{
    margin-top: 30px;
}
.new-products .title-select ul li{
    display: inline;
    margin-right: 20px;
}
.new-products .title-select a{
    font-size: 16px;
}
.new-products .title-select a:hover{
    color: #999;
}
.products .container{
    display: -webkit-flex; 
    -webkit-flex-wrap: wrap; 
    justify-content: space-between;
    margin-top: 20px;
}
.owl-carousel{
    width: 23%;
}
.detail{
    width: 23%;
    position: relative;
    padding-bottom: 90px;
}
.detail-hot {
    padding-bottom: 90px; 
    position: relative;
    background-color: #fff;
    }
    .products-background img {
        width: 100%;
        height: 200px;
    }
   /* .img-extra {display: none;}*/
    .products-description{
        width: 100%;
        height: 80px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: all 0.3s;
        z-index: 1;
        position: absolute;
        bottom: 10px;
    }
    .products-description .description {
        font-size: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .products-description .price{
        color: #8ec349;
    }
    .products-description .hidden{
        font-size: 15px;
        display: none;
    }
    .products .detail:hover .products-description , .products .detail-hot:hover .products-description{
        bottom: 20px;
        color: #8ec349;
    }
    .products .detail:hover .hidden, .products .detail-hot:hover .hidden{
       display: block;
    }
.new-products .showmore{
    text-align: center;
}
.showmore{
    text-align: center;
    margin-top: 50px;
}
.showmore span{
    padding: 10px 30px;
    border: 2px solid #99c95c;
    font-size: 15px;
    color: #99c95c;
    cursor: pointer;
    font-family: Roboto-Medium;
    font-weight: 500;
}
.showmore span:hover{
    background-color: #99c95c;
    color: #fff;
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #99c95c;
  width: 41px;
  height: 41px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 17px;
  display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.main-images .container{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}
.m-i-left, .m-i-right {width: 48%;}
.m-i-left img , .m-i-right img{
    width: 100%;
}

.m-i-left img:hover , .m-i-right img:hover{
    box-shadow: 5px 5px 5px #99c95c;
}



.news .container .owl-carousel{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.news-into {
    position: relative;
    cursor: pointer;
}
.news-into .images img{
    width: 100%;
    height: 250px;
}
.news-into .description{
    position: absolute;
    width: 85%;
    background-color: #fff;
    padding: 0% 2.5%;
    text-align: center;
    margin-top: -60px;
    margin-left: 5%;
    transition: all 0.5s;
}
.news-into .description p {font-size: 15px;}
.news-into:hover .description{
    padding: 0% 5%;
    margin-left: 2.5%;
    text-decoration: underline;

}
.news-into a:hover {
    color: #99c95c;
}

/* footer----------*/
.footer{
    margin-top: 50px;
}
.footer-banner{
    background-color: #99c95c;
}
.footer-banner .container ul{
    display: flex;
    justify-content: space-between;
}
.footer-banner .container ul li{
    display: flex;
    padding: 15px 0px;
    margin-right: 10px;
}
.footer-banner .container .owl-stage .owl-item:nth-child(2) li {
    justify-content: center;
}
.footer-banner .container .owl-stage .owl-item:nth-child(3) li {
    justify-content: flex-end;
}
.footer-banner .container ul li i{
    color: #fff;
    font-size: 40px;
    margin-right: 10px;
    margin-top: 5px;
}
.footer-banner .container ul li span{
    color: #fff;
}
.footer-banner .description span:first-child{
    font-weight: 500;
    font-size: 15px;
}

.footer-menu{
    background-color: #f7f8fa;
    padding-top: 30px ;
    padding-bottom: 40px ;
}
.footer-menu .container {
    display: flex;
    justify-content: space-between;
}
.footer-menu .container ul {
    margin-top: 10px;
    position: relative;
}
.footer-menu .container .sidenav-footer {display: none;}
.footer-menu .container ul .title {
    font-family: Roboto-Medium;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 20px;
}
.footer-menu .container ul li{
    margin-top: 8px;
    font-size: 14px;
}
.footer-menu .container ul li a{
    color: #4c4d4f;
}
.footer-menu .container ul li a:hover{
    color: #99c95c;
}

.footer-end{
    background-color: #101010;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
}
.footer-end span{
    color: #8c8888;
}

.sidenav-footer{
  width: 100%;
  overflow-x: hidden;
  transition: 0.5s;
  margin-top: 20px;
}
.dropdown-btn-footer, .dropdown-container-footer a {
    text-decoration: none;
    font-size: 14px;
    display: block;
    transition: 0.3s;
    cursor: pointer;
    /*border-bottom: 1px solid #99c95c;*/
}
.dropdown-btn-footer {padding: 10px 8px 10px 10px;}
.dropdown-container-footer a {padding: 10px 0px 0px 20px; color: #4c4d4f;}
.dropdown-container-footer {display: none; margin-bottom: 10px;}
#down, #up{
    float: right;
    padding-right: 10px;
    font-size: 15px;
}
#up {display: none;}

#scroll-top {
    bottom: 30px;
    right: 30px;
    background: #99c95c;
    outline: none;
    border: none;
    border-radius: 30px;
    position: fixed;
    padding: 15px;
    opacity: 0.5;
    transition: 0.1s ease-in-out;
    display: none;
    z-index: 1;
}
#scroll-top:hover{
    cursor: pointer;
    opacity: 1;
}
#scroll-top i {
    color: #ffffff;
    font-size: 15px;
}


/*owl carousel*/
.owl-theme .owl-nav [class*=owl-] {
    background: transparent;
}

.owl-theme .owl-nav {
    position: relative;
}
.news .container:hover .owl-prev, .products .container:hover .owl-prev, .main-introduct .container:hover .owl-prev ,
.news .container:hover .owl-next, .products .container:hover .owl-next, .main-introduct .container:hover .owl-next {
    display: inline-block;
}

.owl-prev, .owl-next {
    display: none;
    position: absolute;
    top: 30%;
    opacity: 0.5;
}
.owl-prev { left: 0px; }
.owl-next { right: 0px;}
.owl-prev i , .owl-next i{
    padding: 10px;
    background-color: #fff;
    font-size: 20px;
}
.owl-prev:hover , .owl-next:hover {
    opacity: 0.9;
}
.owl-dots {
    display: none !important;
}

/*introduct*/
.introduct ul , .contact ul {
    display: flex;
    justify-content: space-between;
}
.introduct ul li {
    width: 30%;
    height: 270px;
    position: relative;
}
.introduct ul li:hover {
    box-shadow: 1px 1px 5px #99c95c;
}
.introduct ul li:hover p {color: #99c95c;}
.introduct ul li:hover img {margin-top: -10px;}
.introduct ul li img {width: 100%; transition: all 0.3s; position: absolute;}
.introduct ul li p {
    font-size: 18px;
    text-align: center;
} 
.introduct .no-product, .contact .no-product {
    font-size: 25px; 
    margin: 40px 0px;
}
.contact ul li {width: 25%; position: relative; height: 200px; margin-top: 20px;}
.contact ul li:hover img, .contact ul li:hover span {margin-top: -10px;}
.contact ul li img {width: 100%; height: 200px; position: absolute; transition: all 0.5s;}
.contact ul li:first-child img {width: 50%;}
.contact ul li:first-child {display: flex;}
.contact ul li:first-child span {
    font-family: Roboto-Medium;
    font-weight: 500;
    font-size: 20px; 
    color: #a8ca01; 
    position: absolute;
    right: 5px;
    top: 20%;
    transition: margin-top 0.5s;
    text-shadow: 15px 15px 30px #a8ca01; 
}


/*.contact ul li:first-child:hover span {color: #99c95c;}*/